<div class="container">

  <h1>Login</h1>
  <hr>
  <div class="col-md-4">
    <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="login(loginForm.value)" novalidate>
      <div class="form-goup">
        <label for="user-name">User Name:</label>
        <input (ngModel)="userName" name="userName" type="text" required class="form-control" id="user-name" placeholder="User Name...">
        <em *ngIf="loginForm.controls.userName?.invalid && (loginForm.controls.userName?.touched || mouseOverLogin)" class="text-danger">User Name is required.</em>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input (ngModel)="password" name="password" type="password" required class="form-control" id="password" placeholder="Password...">
        <em *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.touched || mouseOverLogin)" class="text-danger">Password is required.</em>
      </div>

      <div class="form-group btn-group">
          <span (mouseenter)="mouseOverLogin=true" (mouseLeave)="mouseOverLogin=false">
              <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Save</button>
            </span>
            <span>
              <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
            </span>
      </div>
    </form>

    <br>
    <div *ngIf="loginInvalid" class="alert alert-danger">
      Invalid login info.
    </div>
  </div>
</div>
